@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

$parchment: rgb(226, 218, 205); 

#senator-header {
    background-color: darken($parchment, 20%);
    padding: 1em;
    border-radius: 10px;
    margin: 1%;
    text-align: center;
    
    h3 {
        font-family: Lato;
    }

    h2 {
        font-family: Berkshire Swash;
    }
}