<div class="image-container">
    <img src="../../assets/images/Logo.png" alt="Yea Or Nay Icon">
</div>

<br> 

<div class="welcome-headers">
    <h2>Welcome to</h2>
    <h1>Yea or Nay</h1>
</div>

<div class="intro-text">
    <p>
        Yea or Nay is a web app created to help you get to know your representative better.
    </p>
    <p>
        Does your representative vote the way you want them to on bills that affect you?
    </p>
    <p>
        Do you and your representative agree on everything, or is it maybe time for you to vote for someone else?
    </p>
    <p>
        Enter your name and address to get started!
    </p>
</div>

<div class="zip-code-container">
    <label id="name-label">Enter your Name:</label>
    <br>
    <input [(ngModel)]="userName">
    <br>
    <label id="street-label">Enter your Street Address:</label>
    <br>
    <input [(ngModel)]="streetAddress">
    <br>
    <label id="city-label">Enter your City:</label>
    <br>
    <input [(ngModel)]="city">
    <br>
    <label id="state-label">Enter your State (Abbreviation):</label>
    <br>
    <input [(ngModel)]="state">
    <br>
    <label id="zip-label">Enter your Zip Code:</label>
    <br>
    <input [(ngModel)]="zipCode">
    <br>
</div>

<div class="link-container">
    <button (click)="onClick()">Find Your Representatives</button>
</div> 